Importing pandas and setting the option to see all the rows

In [29]:
import pandas as pd
pd.set_option('display.max_rows', None)

In [30]:
df = pd.read_csv('data_scientist_jobs.csv')
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,DATA SCIENTIST,$54K-$92K\n(Glassdoor est.),JOB SUMMARY\n\nThe position will focus on buil...,3.8,Blessing Hospital\n3.8,"Quincy, IL",-1,1001 to 5000 Employees,1875,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1
1,Sr. Data Scientist - Model Governance,$101K-$163K\n(Glassdoor est.),General Summary:\n\nThe position plays a criti...,3.6,Elevate Credit\n3.6,"Addison, TX",-1,501 to 1000 Employees,2014,Company - Public,Lending,Finance,$100 to $500 million (USD),-1
2,Digital Pathology Scientist,-1,Digital Pathology Scientist *\nDescription*\nM...,3.5,Mosaic Laboratories\n3.5,"Lake Forest, CA",-1,1 to 50 Employees,-1,Company - Private,-1,-1,$1 to $5 million (USD),-1
3,Semantic Data Modeler and Engineer,-1,Semantic Data Modeler and Engineer\n\nTucson E...,2.8,"Tucson Embedded Systems, Inc.\n2.8",Alabama,-1,51 to 200 Employees,1997,Company - Private,Enterprise Software & Network Solutions,Information Technology,$10 to $25 million (USD),-1
4,R&D Scientist,$31K-$72K\n(Glassdoor est.),Our Research and Development department is on ...,4.3,Chobani\n4.3,"Twin Falls, ID",-1,1001 to 5000 Employees,2005,Company - Private,Food & Beverage Manufacturing,Manufacturing,$1 to $2 billion (USD),-1

Removing the rows that don't have a salary estimate

In [31]:
df = df[df['Salary Estimate'] != '-1']
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,DATA SCIENTIST,$54K-$92K\n(Glassdoor est.),JOB SUMMARY\n\nThe position will focus on buil...,3.8,Blessing Hospital\n3.8,"Quincy, IL",-1,1001 to 5000 Employees,1875,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1
1,Sr. Data Scientist - Model Governance,$101K-$163K\n(Glassdoor est.),General Summary:\n\nThe position plays a criti...,3.6,Elevate Credit\n3.6,"Addison, TX",-1,501 to 1000 Employees,2014,Company - Public,Lending,Finance,$100 to $500 million (USD),-1
4,R&D Scientist,$31K-$72K\n(Glassdoor est.),Our Research and Development department is on ...,4.3,Chobani\n4.3,"Twin Falls, ID",-1,1001 to 5000 Employees,2005,Company - Private,Food & Beverage Manufacturing,Manufacturing,$1 to $2 billion (USD),-1
6,Manufacturing Scientist,$41K-$91K\n(Glassdoor est.),Biomerica Corporation focusing on the research...,2.5,Biomerica\n2.5,"Irvine, CA",-1,1 to 50 Employees,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$5 to $10 million (USD),-1
8,HCM Data Analyst,$55K-$94K\n(Glassdoor est.),Any qualified individual with a disability who...,3.2,Austal USA\n3.2,"Mobile, AL",-1,1001 to 5000 Employees,1988,Company - Public,Industrial Manufacturing,Manufacturing,$1 to $2 billion (USD),-1

Removing the term "Glassdoor estimate" from the salary estimate

In [32]:
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
salary.head()

0      $54K-$92K\n
1    $101K-$163K\n
4      $31K-$72K\n
6      $41K-$91K\n
8      $55K-$94K\n
Name: Salary Estimate, dtype: object

Removing the dollar signs and K

In [33]:
minus_kd = salary.apply(lambda x: x.replace('K', '').replace('$',''))

Adding one hot encoding for hourly rates and employer provided salary. Also getting the salary ranges by removing all kinds of text

In [34]:
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)
range_ = minus_kd.apply(lambda x: x.lower().replace('per hour', '').replace('employer provided salary:', ''))
print(range_)

0        54-92\n
1      101-163\n
4        31-72\n
6        41-91\n
8        55-94\n
9       77-123\n
10      46-105\n
11       55-70\n
12     117-134\n
13       34-62\n
14     155-247\n
15      68-110\n
17       70-95\n
18      73-124\n
19     141-225\n
20       43-72\n
21      67-117\n
22      86-142\n
25       42-79\n
26      99-110\n
27       48-79\n
28       39-69\n
29     111-176\n
30      75-125\n
31      80-134\n
33       58-95\n
35     125-198\n
37       12-92\n
38      99-182\n
39      63-104\n
40     111-176\n
42       34-64\n
43      81-134\n
45      93-149\n
46       53-91\n
47       48-98\n
48      92-151\n
49      68-135\n
51       38-75\n
53       33-59\n
54      91-150\n
55       55-98\n
56       57-97\n
57       29-53\n
59       24-51\n
60     145-163\n
61      81-169\n
62      73-124\n
63     111-143\n
65      20-28 \n
67      59-123\n
68       48-83\n
69       46-94\n
70       48-84\n
71      85-139\n
73      80-134\n
75      80-111\n
77       56-97\n
78     123-196\n
79      83-135\n
80      81-137\n
83       60-87\n
84       31-55\n
85      66-108\n
87     128-201\n
89       41-74\n
90      90-115\n
92      79-127\n
93       34-62\n
94     111-181\n
95     135-145\n
96       54-94\n
97      77-155\n
98       41-82\n
99       37-66\n
100    116-181\n
101      34-62\n
102     86-143\n
103     79-127\n
104    124-211\n
105      32-59\n
106    102-162\n
107     88-142\n
109      50-91\n
112      49-85\n
113     82-136\n
114    105-168\n
115     91-143\n
116      60-99\n
117     86-154\n
118    108-186\n
119      43-77\n
121      44-81\n
123     60-106\n
124    111-143\n
125     82-131\n
127     71-114\n
128     59-102\n
129     67-125\n
133     69-130\n
134      57-98\n
135    111-175\n
136      42-72\n
138    114-184\n
139     83-141\n
140     88-146\n
141    112-179\n
142      29-58\n
143    101-155\n
144     95-118\n
145     69-121\n
146     56-117\n
147      46-83\n
148     60-104\n
149     78-133\n
150     59-112\n
151     89-144\n
152     76-109\n
153      35-64\n
154     91-149\n
155    117-186\n
157      43-88\n
158    128-201\n
159     77-124\n
161     69-130\n
162     80-130\n
163      43-88\n
164     77-109\n
166    148-236\n
167      52-93\n
169     72-127\n
170      55-80\n
172     53-104\n
173      40-82\n
174     78-133\n
175     80-129\n
176    116-141\n
177     82-103\n
178      36-70\n
179      56-98\n
180     93-165\n
184    169-266\n
185     89-102\n
186     60-103\n
187      55-91\n
188      51-94\n
190    150-169\n
191    108-170\n
192      43-81\n
193     90-162\n
194      35-63\n
195     68-123\n
196     65-109\n
197     59-100\n
198     77-128\n
199    113-182\n
200     79-136\n
201     72-142\n
202    151-251\n
203      34-61\n
206     99-174\n
207    103-169\n
209    106-182\n
210     72-122\n
211     55-108\n
212     83-137\n
213     85-153\n
214    103-175\n
215      46-93\n
216     80-133\n
217      50-82\n
218     80-132\n
219    146-175\n
220      60-90\n
221      52-99\n
222     63-104\n
224     86-128\n
225      40-72\n
227      60-90\n
228      52-99\n
229     83-136\n
230      47-85\n
232     70-121\n
233     86-143\n
235      29-58\n
236    132-227\n
237      28-60\n
238    175-250\n
239     60-127\n
240     76-130\n
241     74-132\n
242      54-97\n
243     69-116\n
244     61-109\n
246     62-117\n
248      44-86\n
251    101-130\n
254     99-169\n
255    112-181\n
256    127-197\n
259     73-121\n
260    131-217\n
261    100-160\n
262     53-104\n
263     66-117\n
264      40-82\n
265     97-155\n
266     78-133\n
267      46-82\n
268      47-93\n
269    127-208\n
270    116-141\n
271    126-198\n
272    165-257\n
273     87-144\n
274     82-103\n
275     54-108\n
276      36-70\n
277      56-98\n
278    110-132\n
280      31-57\n
281     79-166\n
282    120-140\n
284    103-168\n
286    107-173\n
287    115-189\n
288      50-86\n
289     93-165\n
290     80-129\n
292     80-129\n
295    115-154\n
296    118-188\n
297    169-266\n
298    103-168\n
299     89-102\n
300    115-186\n
301    116-181\n
302     84-133\n
303     60-103\n
304    122-188\n
306      51-94\n
307      55-91\n
309      65-89\n
310    122-196\n
311     83-139\n
314    115-183\n
315      35-63\n
316     59-100\n
319    124-204\n
320      84-92\n
321      43-81\n
322     90-108\n
323      43-88\n
324     93-149\n
325    113-182\n
326     72-142\n
327     77-128\n
328    106-162\n
329      54-92\n
330      38-72\n
331    132-257\n
332     79-136\n
333     80-138\n
334      50-86\n
335      34-61\n
337    151-251\n
338    133-171\n
339      50-91\n
340     88-111\n
342      47-82\n
345     97-155\n
346     60-101\n
347     99-174\n
348    103-169\n
349     83-137\n
351     93-155\n
352     68-123\n
353     90-162\n
354    103-169\n
355     83-137\n
358    128-201\n
359    106-182\n
360    \n100-155
361      52-92\n
362     97-154\n
363      36-65\n
365    137-213\n
366     72-122\n
367     97-159\n
369     79-127\n
370      34-92\n
371      42-81\n
372      55-93\n
373     94-156\n
374     55-108\n
375     85-153\n
376     83-137\n
377    103-175\n
379      46-93\n
380     76-125\n
381     96-149\n
382     86-128\n
383    \n125-150
384     70-124\n
385    101-175\n
386    115-183\n
387      50-82\n
388     80-133\n
389      50-82\n
390    115-183\n
391     84-153\n
392    122-196\n
394    146-175\n
395     80-132\n
396      60-90\n
397     83-150\n
399      52-99\n
400     97-116\n
401    115-184\n
402     87-143\n
403     93-165\n
404     77-125\n
405     83-136\n
408    127-208\n
409     93-121\n
410    123-189\n
411    133-206\n
412     67-127\n
413      40-72\n
414    119-147\n
415      49-87\n
416      29-58\n
418     86-107\n
419    108-170\n
420      76-80\n
421      28-60\n
422     99-131\n
423    132-227\n
425    104-166\n
426     87-144\n
427    175-250\n
428    111-178\n
429     60-127\n
430     76-130\n
431      49-89\n
432     69-116\n
433     55-110\n
435     74-132\n
436     84-145\n
437      33-69\n
439     64-113\n
441      48-87\n
442      49-87\n
443     80-132\n
444      49-89\n
445     55-110\n
447     69-116\n
448     74-132\n
449    107-173\n
452     77-124\n
453     84-145\n
454      34-92\n
455      34-92\n
456     82-158\n
457     69-116\n
458      80-94\n
459      50-96\n
460     79-138\n
461     53-110\n
464      54-97\n
465      \n45-53
466     61-109\n
469     90-154\n
470     62-117\n
471      44-86\n
473    127-197\n
474     54-92 \n
475     64-110\n
476     95-151\n
477     74-123\n
478    109-186\n
480     68-110\n
481      55-94\n
484      74-93\n
485      52-93\n
486     97-156\n
487     70-132\n
489      27-55\n
490      36-65\n
491     24-108\n
493     95-191\n
494     83-103\n
496     75-100\n
497     \n90-125
498      33-76\n
499      42-74\n
500     94-151\n
501     68-121\n
502     64-110\n
503     54-92 \n
506     83-103\n
507     \n90-125
508      33-76\n
509     75-100\n
510     94-151\n
511      42-74\n
512     68-121\n
515     65-124\n
516     82-129\n
517     97-169\n
518    111-184\n
519      55-98\n
520    106-182\n
521    117-186\n
522      36-55\n
523     63-108\n
524     63-129\n
525     60-105\n
527     70-115\n
529      53-70\n
531      53-90\n
532     86-128\n
533      53-95\n
535     90-135\n
536     70-124\n
537     96-149\n
538     68-113\n
539    \n125-150
540    101-175\n
541    115-183\n
542     84-153\n
543      50-82\n
545     69-126\n
546    103-168\n
547    115-183\n
549    122-196\n
550     80-132\n
551    146-175\n
552     99-160\n
553      44-68\n
554     83-150\n
555      60-90\n
556      52-99\n
558    115-184\n
559     97-116\n
561      37-75\n
562      28-61\n
566     93-121\n
567     77-128\n
568    123-189\n
569    127-208\n
570    133-206\n
571      36-66\n
572     78-156\n
573     71-122\n
574      47-85\n
576      42-83\n
578     73-123\n
579     86-143\n
581     70-121\n
583     88-145\n
584    119-147\n
585    114-181\n
587      29-58\n
588    102-165\n
589    108-170\n
590      76-80\n
591     86-107\n
592      40-72\n
593     94-155\n
595    132-227\n
597    104-166\n
598     87-144\n
599    101-163\n
600      42-78\n
601    175-250\n
602     79-126\n
603     87-177\n
604     60-127\n
605     67-113\n
606     75-127\n
607    111-178\n
608     64-113\n
609    138-224\n
610     76-130\n
611     82-130\n
612     89-142\n
613      46-79\n
614      49-89\n
617     55-110\n
619     69-116\n
620     74-132\n
622      49-87\n
623    130-202\n
625     55-110\n
626     69-116\n
628     74-132\n
633     77-124\n
634      33-69\n
635     84-145\n
636     64-113\n
637     79-134\n
639     88-146\n
640     88-144\n
641      48-87\n
642     69-116\n
646     82-158\n
647     85-137\n
648      80-94\n
649      50-96\n
650     53-110\n
651     79-138\n
652     75-122\n
654      46-84\n
655    180-286\n
656      \n45-53
658     61-109\n
659     80-130\n
660     90-154\n
662     62-117\n
665    136-225\n
666      44-86\n
668    116-143\n
671     54-105\n
672    144-241\n
673      45-70\n
674     88-119\n
676     74-128\n
679     \n90-125
680     57-105\n
681      32-59\n
682     74-123\n
684    112-182\n
685     71-123\n
686     95-151\n
687     76-125\n
688     70-132\n
690      55-94\n
691    109-186\n
692     80-130\n
694     68-110\n
695     70-113\n
698      52-93\n
700      74-93\n
702     97-156\n
703      54-98\n
705      27-55\n
706      55-94\n
707     72-120\n
708    104-164\n
709     67-112\n
711      36-65\n
713     65-139\n
714     54-92 \n
716     97-156\n
717     64-110\n
718      27-55\n
719     \n45-55
722      36-65\n
723      42-76\n
724     24-108\n
725     95-191\n
726     61-104\n
728    101-143\n
733     83-103\n
734      51-92\n
735     \n90-125
737    101-175\n
738      33-76\n
739     75-100\n
740      42-74\n
741     94-151\n
742    103-122\n
743      42-74\n
744     67-110\n
745     94-151\n
747     68-121\n
749     67-118\n
750     65-124\n
751    121-196\n
753     95-127\n
754    152-251\n
755    115-212\n
757     85-146\n
758     82-129\n
759     97-169\n
760    102-167\n
761    111-184\n
762    106-182\n
763      55-98\n
764     63-108\n
765    117-186\n
766    111-177\n
767     73-124\n
768      36-55\n
769     81-132\n
770     63-129\n
771     60-105\n
772      71-92\n
774     64-105\n
776      53-70\n
778    138-235\n
779     91-198\n
780    105-162\n
781      53-90\n
783      54-75\n
784     73-140\n
785      36-66\n
786     78-140\n
787     74-123\n
788    107-174\n
789     60-127\n
790     90-170\n
792      48-89\n
793     75-132\n
794     93-152\n
795      51-90\n
796      55-96\n
797    109-185\n
798     98-171\n
799     77-132\n
800    142-150\n
801    113-196\n
802     86-100\n
803     75-117\n
804      34-65\n
805    115-181\n
806     59-106\n
808     93-153\n
809     82-158\n
810    108-147\n
811     85-137\n
812      50-96\n
813      80-94\n
814     53-110\n
816     79-138\n
818     82-119\n
820    108-137\n
821      54-97\n
823    103-190\n
824     91-146\n
825     64-112\n
826    180-286\n
827      46-84\n
829      \n45-53
830     61-109\n
831     80-130\n
834    101-162\n
835      \n45-53
837     61-109\n
839     80-130\n
840    108-181\n
841     90-154\n
843     62-117\n
845    136-225\n
847      44-86\n
851    116-143\n
853     54-105\n
855    144-241\n
857    103-167\n
858      64-91\n
860     97-154\n
862     72-125\n
864     74-128\n
866     65-110\n
868     78-139\n
869     \n90-125
870    110-155\n
871     57-105\n
872      32-59\n
873     78-159\n
874     88-141\n
875    116-184\n
876     61-118\n
877     61-104\n
879    111-185\n
880    101-130\n
883     95-174\n
884    103-163\n
885     70-119\n
886     77-128\n
887     92-161\n
888    108-169\n
889     74-130\n
894     70-119\n
895    103-163\n
896     92-161\n
897     77-128\n
898     74-130\n
899    156-238\n
900    108-169\n
903     93-153\n
904     65-102\n
905     82-138\n
906     89-150\n
907     74-123\n
908     71-123\n
909     81-132\n
910     76-125\n
911     82-163\n
912     70-132\n
913     95-151\n
914      43-84\n
916    109-186\n
918     80-130\n
919      55-94\n
920     68-110\n
921      43-84\n
924     70-119\n
925    103-163\n
926     92-161\n
927     77-128\n
928     74-130\n
929    156-238\n
930    108-169\n
933     93-153\n
934     65-102\n
935     82-138\n
936     89-150\n
937     74-123\n
938     71-123\n
939     81-132\n
940     76-125\n
941     82-163\n
942     70-132\n
943     95-151\n
944      43-84\n
946    109-186\n
948     80-130\n
949      55-94\n
950     68-110\n
951      43-84\n
954     70-119\n
955    103-163\n
956     92-161\n
957     77-128\n
958     74-130\n
959    156-238\n
960    108-169\n
963     93-153\n
964     65-102\n
965     82-138\n
966     89-150\n
967     74-123\n
968     71-123\n
969     81-132\n
970     76-125\n
971     82-163\n
972     70-132\n
973     95-151\n
974      43-84\n
976    109-186\n
978     80-130\n
979      55-94\n
980     68-110\n
981      43-84\n
984     70-119\n
985    103-163\n
986     92-161\n
987     77-128\n
988     74-130\n
989    156-238\n
990    108-169\n
993     93-153\n
994     65-102\n
995     82-138\n
996     89-150\n
997     74-123\n
998     71-123\n
999     81-132\n
Name: Salary Estimate, dtype: object

Adding min, max and average salary columns from the salary ranges extracted above

In [35]:
df['min_salary'] = range_.apply(lambda x: int(x.split('-')[0]))
df['max_salary'] = range_.apply(lambda x: int(x.split('-')[1]))
df['avg_salary'] = (df.min_salary + df.max_salary)/2
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary,avg_salary
0,DATA SCIENTIST,$54K-$92K\n(Glassdoor est.),JOB SUMMARY\n\nThe position will focus on buil...,3.8,Blessing Hospital\n3.8,"Quincy, IL",-1,1001 to 5000 Employees,1875,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1,0,0,54,92,73.0
1,Sr. Data Scientist - Model Governance,$101K-$163K\n(Glassdoor est.),General Summary:\n\nThe position plays a criti...,3.6,Elevate Credit\n3.6,"Addison, TX",-1,501 to 1000 Employees,2014,Company - Public,Lending,Finance,$100 to $500 million (USD),-1,0,0,101,163,132.0
4,R&D Scientist,$31K-$72K\n(Glassdoor est.),Our Research and Development department is on ...,4.3,Chobani\n4.3,"Twin Falls, ID",-1,1001 to 5000 Employees,2005,Company - Private,Food & Beverage Manufacturing,Manufacturing,$1 to $2 billion (USD),-1,0,0,31,72,51.5
6,Manufacturing Scientist,$41K-$91K\n(Glassdoor est.),Biomerica Corporation focusing on the research...,2.5,Biomerica\n2.5,"Irvine, CA",-1,1 to 50 Employees,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$5 to $10 million (USD),-1,0,0,41,91,66.0
8,HCM Data Analyst,$55K-$94K\n(Glassdoor est.),Any qualified individual with a disability who...,3.2,Austal USA\n3.2,"Mobile, AL",-1,1001 to 5000 Employees,1988,Company - Public,Industrial Manufacturing,Manufacturing,$1 to $2 billion (USD),-1,0,0,55,94,74.5

Adding a column just for company name while separating the name from the rating

In [36]:
df['company_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating'] <0 else x['Company Name'][:-4], axis = 1)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary,avg_salary,company_txt
0,DATA SCIENTIST,$54K-$92K\n(Glassdoor est.),JOB SUMMARY\n\nThe position will focus on buil...,3.8,Blessing Hospital\n3.8,"Quincy, IL",-1,1001 to 5000 Employees,1875,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1,0,0,54,92,73.0,Blessing Hospital
1,Sr. Data Scientist - Model Governance,$101K-$163K\n(Glassdoor est.),General Summary:\n\nThe position plays a criti...,3.6,Elevate Credit\n3.6,"Addison, TX",-1,501 to 1000 Employees,2014,Company - Public,Lending,Finance,$100 to $500 million (USD),-1,0,0,101,163,132.0,Elevate Credit
4,R&D Scientist,$31K-$72K\n(Glassdoor est.),Our Research and Development department is on ...,4.3,Chobani\n4.3,"Twin Falls, ID",-1,1001 to 5000 Employees,2005,Company - Private,Food & Beverage Manufacturing,Manufacturing,$1 to $2 billion (USD),-1,0,0,31,72,51.5,Chobani
6,Manufacturing Scientist,$41K-$91K\n(Glassdoor est.),Biomerica Corporation focusing on the research...,2.5,Biomerica\n2.5,"Irvine, CA",-1,1 to 50 Employees,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$5 to $10 million (USD),-1,0,0,41,91,66.0,Biomerica
8,HCM Data Analyst,$55K-$94K\n(Glassdoor est.),Any qualified individual with a disability who...,3.2,Austal USA\n3.2,"Mobile, AL",-1,1001 to 5000 Employees,1988,Company - Public,Industrial Manufacturing,Manufacturing,$1 to $2 billion (USD),-1,0,0,55,94,74.5,Austal USA

Adding a seprate column just for the state of the location of the job

In [37]:
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1])
#print(df.job_state)

Adding a column with the age of the company

In [38]:
df['age'] = df.Founded.apply(lambda x: x if x <1 else 2020 - x)
#print(df.age)

Extracting skills from the job descriptions and adding one hot encoding for each type of skill. 1st one is for python

In [39]:
df['python_'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df.python_.value_counts()

1    493
0    277
Name: python_, dtype: int64

OHE for R

In [40]:
df['R_'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df.R_.value_counts()

0    763
1      7
Name: R_, dtype: int64

OHE for spark

In [41]:
df['spark_'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df.spark_.value_counts()

0    599
1    171
Name: spark_, dtype: int64

OHE for aws

In [42]:
df['aws_'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df.aws_.value_counts()

0    576
1    194
Name: aws_, dtype: int64

OHE for excel

In [43]:
df['excel_'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df.excel_.value_counts()

1    390
0    380
Name: excel_, dtype: int64

In [44]:
df['private'] = df['Type of ownership'].apply(lambda x: 1 if 'private' in x.lower() else 0)
df.private.value_counts()

0    392
1    378
Name: private, dtype: int64

In [45]:
df['other_types'] = df['Type of ownership'].apply(lambda x: 1 if 'private' not in x.lower() else 0)
df.other_types.value_counts()

1    392
0    378
Name: other_types, dtype: int64

Checking the list of all the columns in data frame.

In [46]:
#df.drop(['public', 'nonprofit'], axis = 1)
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'job_state', 'age', 'python_', 'R_', 'spark_', 'aws_',
       'excel_', 'private', 'other_types'],
      dtype='object')

In [47]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,company_txt,job_state,age,python_,R_,spark_,aws_,excel_,private,other_types
0,DATA SCIENTIST,$54K-$92K\n(Glassdoor est.),JOB SUMMARY\n\nThe position will focus on buil...,3.8,Blessing Hospital\n3.8,"Quincy, IL",-1,1001 to 5000 Employees,1875,Nonprofit Organization,...,Blessing Hospital,IL,145,1,0,0,1,1,0,1
1,Sr. Data Scientist - Model Governance,$101K-$163K\n(Glassdoor est.),General Summary:\n\nThe position plays a criti...,3.6,Elevate Credit\n3.6,"Addison, TX",-1,501 to 1000 Employees,2014,Company - Public,...,Elevate Credit,TX,6,1,0,0,0,0,0,1
4,R&D Scientist,$31K-$72K\n(Glassdoor est.),Our Research and Development department is on ...,4.3,Chobani\n4.3,"Twin Falls, ID",-1,1001 to 5000 Employees,2005,Company - Private,...,Chobani,ID,15,0,0,0,1,1,1,0
6,Manufacturing Scientist,$41K-$91K\n(Glassdoor est.),Biomerica Corporation focusing on the research...,2.5,Biomerica\n2.5,"Irvine, CA",-1,1 to 50 Employees,-1,Company - Public,...,Biomerica,CA,-1,0,0,0,0,1,0,1
8,HCM Data Analyst,$55K-$94K\n(Glassdoor est.),Any qualified individual with a disability who...,3.2,Austal USA\n3.2,"Mobile, AL",-1,1001 to 5000 Employees,1988,Company - Public,...,Austal USA,AL,32,0,0,0,0,1,0,1

Exporting the data frame as a csv for further exploratory data analysis

In [48]:
df.to_csv('salary_data_cleaned.csv',index = False)